build/**
dist/**
minilzo/testmini
ClassicIPL/*.h
ClassicIPL/combine/*.h
MSIPL/mainbinex/payload*.h
MSIPL/newipl/stage*/*.h
Payloadex/*/payload.h
NewIPL/*.h
NewIPL/ipl_stage2_payload/ipl_stage2_payload.h
*.bin
*.dec
*.elf
*.o
*.lzo
*.prx
EBOOT.PBP
PARAM.SFO
